[tool.poetry]
name = "json-streams"
version = "0.12.3"
description = "Stream JSON and JSON-Lines lazily."
authors = ["Språkbanken at Göteborgs universitet <sb-info@svenska.gu.se>"]
license = "MIT"
homepage = "https://github.com/spraakbanken/json-streams-py"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    # "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Unix",
    "Operating System :: POSIX",
    # "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python :: Implementation :: CPython",
    # "uncomment if you test on these interpreters:",
    # "Programming Language :: Python :: Implementation :: IronPython",
    # "Programming Language :: Python :: Implementation :: Jython",
    # "Programming Language :: Python :: Implementation :: Stackless",
    "Topic :: Utilities",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/spraakbanken/json-streams-py/issues"

[tool.poetry.dependencies]
python = "^3.8"
ijson = "^3.2.0.post0"
orjson = {version = "^3.7", optional = true}

[tool.poetry.extras]
orjson = ["orjson"]

[tool.poetry.group.ci]
optional = true

[tool.poetry.group.ci.dependencies]
ruff = "^0.0.254"

[tool.poetry.group.dev.dependencies]
pytest = "^7"
bump2version = "^1.0.1"
mypy = "^1.1.1"
pytest-cov = "^3.0.0"
types-orjson = "^3.6.2"
black = "^23.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ["py38"]

[tool.ruff]
# Enable flake8-bugbear (`B`) rules.
select = [
  "A",
#   "ANN",
  "B",
  "BLE",
  "C4",
  "C90",
#   "D",
  "E",
  "F",
  "FBT",
  "I",
  "RUF",
  "S",
  "YTT",
]

# Never enforce `E501` (line length violations).
# ignore = ["E501"]
ignore = ["ANN101", "ANN102","D203", "D213"]

line-length = 97

# Avoid trying to fix flake8-bugbear (`B`) violations.
unfixable = ["B"]

target-version = "py38"

# Ignore `E402` (import violations) in all `__init__.py` files, and in `path/to/file.py`.
[tool.ruff.per-file-ignores]
"tests/*" = ["D100","D101","D102","D103","D104","S101"]
# "__init__.py" = ["E402"]

[tool.mypy]
python_version = "3.8"
