# This is a GitHub Action that will generate a complete dependency graph from uv.lock files
# in the repository and submit the graph to the GitHub repository so that the graph is
# complete and includes all the transitive dependencies.
#
# Workaround for https://github.com/dependabot/dependabot-core/issues/11913
#
# NOTE: Make sure you've enabled Dependency Graph in the Security section of the repository Settings first.
#
# NOTE: After adding the workflow, trigger once manually from Actions UI to confirm correct setup.

name: dependency submission

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - "**/uv.lock"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dependency-submission:
    name: ubuntu / submit uv dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write # needs to submit dependency graph data
    steps:
      - name: Checkout repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
        with:
          persist-credentials: false

      - name: Submit dependency snapshot
        uses: rmuir/uv-dependency-submission@1c48aaac13e566e39fd04269ff1900b86c1105c5 # v1.0.0
